body {
  margin: 0;
  background-color: #B1D8B7;
}

.header {
  font-size: 64px;
  font-weight: bold;
  font-family: copperplate;
  color: #2F5233;

  text-align: center;

  position: relative;
  top: 50px;
  left: 100px;
  width: 350px;
  height: 80px;

  border: 3px solid #73AD21;

}

.form {
  position: relative;
  top: 100px;
  left: 100px;

  height: 300px;

}
